<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.author.name | default: site.title }}</a>
    <nav class="site-nav" aria-label="Main navigation">
      {% for link in site.data.navigation.main %}<a class="page-link{% if page.url == link.url %} is-current{% endif %}" href="{{ link.url | relative_url }}">{{ link.title }}</a>{% endfor %}
      {% if site.author.email and site.author.email != '' %}<a class="page-link" href="mailto:{{ site.author.email }}">{{ site.data.interface.navigation.contact }}</a>{% endif %}
      {% if site.author.cv and site.author.cv != '' %}<a class="page-link nav-cv" href="{{ site.author.cv | relative_url }}">{{ site.data.interface.navigation.cv }}</a>{% endif %}
    </nav>
  </div>
</header>
